* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
  height: 100%;
  text-align: center;
  
}

#city-data {
  display: inline-block;
  color: rgb(85, 85, 5);
  font-weight: bolder;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
}

#get-city {
  background-color: white;
  color: black;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#get-city:hover {
  background-color: goldenrod;
  color: rgb(85, 85, 5);
  transition: all 0.25s ease;
}

h1 {
  display:inline;
  background-color: white;
  border-radius: 50% 20% / 10% 40%;
  font-size: 50px;
  font-family: 'Sansita Swashed', cursive;
  margin: 70px;
  padding: 18px;
}

h2 {
  font-family: 'Lemonada', cursive;
  margin: 30px;
}

h3 {
  font-size: 25px;
  font-family: 'Lemonada', cursive;
  margin: 20px;
  padding: 2px;
}

img {
  max-width: 100%;
}

@media screen and (max-width:  1025px) {
  main {
    flex-direction: column;
  }
}