* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
  height: 100%;
  text-align: center;
  
}

.balloon{
  float: right;
  padding-top: 38px;
  padding-right: 20px;
  max-width: 40%;
}

#city-data {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(85, 85, 5);
  font-weight: bolder;
  font-size: 20px;
  padding: 20px;
}

#get-city {
  background-color: white;
  color: black;
  font-size: medium;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: wait;
  text-shadow: 1px 1px 1px rgba(87, 133, 251, 0.941),
              2px 2px 1px rgba(87, 133, 251, 0.941);
}

#get-city:hover {
  background-color: goldenrod;
  color: rgb(85, 85, 5);
  transition: all 0.25s ease;
}

h1 {
  background-color: white;
  border-radius: 50% 20% / 10% 40%;
  font-size: 50px;
  font-family: 'Sansita Swashed', cursive;
  margin: 70px;
  padding: 10px;
  text-shadow: 1px 1px 1px red,
               2px 2px 1px red;
}

h2 {
  font-family: 'Lemonada', cursive;
  margin: 30px;
}

h3 {
  font-size: 25px;
  font-family: 'Lemonada', cursive;
  margin: 20px;
  padding: 2px;
}

img {
  max-width: 100%;
}

@media all and (min-width: 480px) and (max-width: 767px) {
  h1 {
    flex-direction: column;
    background-color: rgba(87, 133, 251, 0.941);
}
  h2,
  h3 {
    color: rgb(87, 133, 251, 0.941);
  }
}